.about {
  display: flex;
  justify-content: space-between;
  gap: 4rem;
  scroll-margin-top: 20rem;
}

.about .about__left {
  max-width: 40rem;
  flex: 1;
}

.about .about__left p {
  margin: 1rem 0 1rem;
}

.about .about__left ul {
  margin-left: -1.2rem;
}

.about .about__left ul li {
  display: inline-block;
}

.about .about__left ul li a {
  display: inline-block;
  padding: 1rem;
}

.about .about__right {
  flex: 1;
  max-width: 66rem;
}

@media only screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    align-items: center;
  }

  .about .about__left {
    max-width: 66rem;
    text-align: center;
  }

  .about .about__right {
    text-align: center;
  }
}

.apresentacao__botao__link{
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color:#343d48;
  font-family:'DM Sans', sans-serif;
  /* width: 381px; */
  /* height: 236px; */
  /* top: 524px; */
  /* left: 255px; */
  /* gap: 0px; */
  /* opacity: 0px; */

}